.ProfilePageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProfilePageForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

fieldset {
    border: none;
}

label {
    font-weight: bold;
    display: block;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    width: 96%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.profileButton {
    background-color: #f4aaad;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}

.profileButton:hover {
    background-color: #694588;
    color: #fff;
    border-color: #694588;
}
