.cform {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.commentFormButton {
    background-color: #f4aaad;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}

button.commentFormButton:hover {
    background-color: #694588;
    color: #fff;
    border-color: #694588;
}
