.SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    background-color: #9ad6ed;
    gap: 2rem;
}

.SearchBar > div {
    display: flex;
}

.SearchBar > div > label {
    margin-top: 0.4rem;
    width: 70%;
}

input[type='text'],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

.searchButton {
    background-color: #f4aaad;
    color: black;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 1.1rem;
}

.searchButton:hover {
    background-color: #694588;
    color: #fff;
    border-color: #694588;
}
