.newRecomDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newRecomForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

div {
    padding: 0.3rem;
}

label {
    font-weight: bold;
    display: block;
    padding: 0.3rem;
}

input[type='text'] {
    width: 96%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.category,
.image {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.newRecomButton {
    background-color: #f4aaad;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    border: 2px solid #f4aaad;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    font-size: 18px;
}

.newRecomButton:hover {
    background-color: #694588;
    border-color: #694588;
    color: white;
}
