/* Estilos para la lista de recomendaciones */
ul.recom-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    list-style: none;
}

/* Estilos para la categoría y el lugar de la recomendación */
.categoria,
.lugar {
    font-size: 0.8rem;
    font-family: 'Roboto Mono', monospace;
    color: #555;
    text-align: center;
    background-color: #f3f3f3;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilos para cada elemento de recomendación */
li.recom-item {
    margin: 1rem;
    padding: 1rem;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    box-shadow: 6px 0 12px rgba(0, 0, 0, 0.5); /* Sombra hacia la derecha */
    max-width: 100%;
    max-height: 200%;
}

/* Estilos para la imagen de la recomendación */
.photo {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    width: 100%;
    max-height: 200px;
    border-radius: 40px;
    object-position: center;
}

/* Estilos para el título de la recomendación */
.titulo {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos para el nombre del creador de la recomendación */
.nombre {
    font-weight: bold;
    font-size: 24px;
    font-family: 'cursive', 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(160, 24, 233);
    text-decoration: underline;
    text-transform: uppercase;
    margin: 10px 0; /* Márgenes superior e inferior */
}

/* Estilos para la calificación con estrellas */
.star-rating {
    font-size: 1.5rem;
    margin: 10px 0; /* Márgenes superior e inferior */
    text-align: center;
}

/* Estilos para la fecha de creación de la recomendación */
li.recom-item .creation-date {
    font-size: 0.8rem;
    text-align: left;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Estilos para la descripción de la recomendación */
.recom-list {
    font-size: 1rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: black;
    margin: 0;
}

/* Estilos para el botón "Detalles" de la recomendación */
.details-button {
    background-color: #f4aaad;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

/* Estilos para el botón "Borrar" de la recomendación */
.delete-button {
    background-color: #f4aaad;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.home-button {
    background-color: #f4aaad;
    color: black;
    border: none;
    padding: 10px 15px;
    margin: 0.5rem;
    border-radius: 10px;
}

.home-button:hover {
    background-color: #694588;
    color: #fff;
    border-color: #694588;
}
