.liCl {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.divFlex {
    display: flex;
    flex-direction: column;
}

.pUno {
    font-size: 0.8rem;
    font-family: 'Roboto Mono', monospace;
    color: black;
}
.pDos {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: black;
}
