body {
    font-family: Arial, sans-serif;
    background-color: #9ad6ed;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    height: 100vh;
}

.star-rating {
    font-size: 24px;
    display: flex;
}

.star {
    cursor: pointer;
    color: gray;
}

.star.filled {
    color: gold;
}
