.gridDetail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.boxUnoDetail > p {
    font-size: 0.8rem;
    font-family: 'Roboto Mono', monospace;
    color: black;
}
.boxDosDetail {
    grid-row: 1 / span 3;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxTresDetail {
    display: flex;
    justify-content: right;
}
.boxOchoDetail {
    grid-row: 4;
    grid-column: 1 / span 3;
}

.boxNueveDetail {
    padding-top: 2rem;
    background-color: #f4aaad;
    grid-row: 5;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorBlack {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.colorViolet {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #694588;
}
