.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.login-register-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.styled-link {
    display: inline-block;
    padding: 12px 24px; /* Aumenté ligeramente el padding para un aspecto más espacioso */
    background-color: #f4aaad;
    color: black;
    text-decoration: none;
    border: 2px solid #f4aaad; /* Añadí un borde para un aspecto más definido */
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s; /* Agregué una transición suave para hover */
}

.styled-link:hover {
    background-color: #694588;
    color: #fff;
    border-color: #694588; /* Cambié el color del borde en hover para hacerlo más coherente */
}
